* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: bebas-neu;
  src: url(../Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: urbanist;
  src: url(../Urbanist/Urbanist-Regular.ttf);
}
@font-face {
  font-family: urbanist-bold;
  src: url(../Urbanist/Urbanist-Bold.ttf);
}
@font-face {
  font-family: urbanist-semibold;
  src: url(../Urbanist/Urbanist-SemiBold.ttf);
}
@font-face {
  font-family: jost;
  src: url(../Jost/Jost-Regular.ttf);
}
@font-face {
  font-family: urbanist-medium;
  src: url(../Urbanist/Urbanist-Medium.ttf);
}
header.sticky nav {
  background-color: #c5ad85 !important;
  z-index: 300000 !important;
}

header img {
  height: 60px;
}
@media (max-width: 992px) {
  header img {
    height: 40px;
  }
}

header.sticky nav a {
  color: #fff !important;
  font-family: urbanist-semibold;
  font-size: 17px;
}

header a {
  color: #ffffff !important;
  font-family: urbanist-semibold;
  font-size: 17px;
}

.hero-section .slide {
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .hero-section .slide {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .hero-section .slide {
    height: 400px;
  }
}
.hero-section .slide .carousel-inner {
  height: 100%;
}
.hero-section .slide .carousel-inner .carousel-item {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .slide .carousel-inner .carousel-item img {
  width: 100%;
  animation: imagezoom 20s;
  height: 100%;
}
@keyframes imagezoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.about {
  padding-top: 40px;
  overflow: hidden;
}
.about .right {
  height: 100%;
  padding: 20px 0px;
}
.about .left {
  height: 100%;
}
.about .left .form_box {
  background-color: #828385;
  height: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about .left .form_box h2 {
  text-align: center;
  color: #fff;
  font-family: urbanist-medium;
}
.about .left .form_box button {
  background-color: #c5ad85;
}
.about .left .form_box button a {
  color: #fff;
}
.about .left .form_box option {
  font-family: urbanist-medium;
}
.about .col-box {
  margin: 0px 5px;
}
.about .col-box button {
  background: #c5ad85;
  padding: 4px 22px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.about .col-box button a {
  font-family: urbanist-semibold;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}
.about .col-box h1 {
  font-family: urbanist-bold;
  font-size: 32px;
  text-transform: uppercase;
  color: #0a0a0a;
}
.about .col-box h3 {
  font-family: urbanist-medium;
  font-size: 24px;
}
.about .col-box p {
  font-family: urbanist;
  font-size: 17px;
  color: #0a0a0a;
  font-style: normal;
  text-transform: uppercase;
}

.servi {
  overflow: hidden;
  padding: 0px 0px;
}
.servi .architect {
  background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/architect.jpg?updatedAt=1707804013781);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.servi .interior {
  background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/interior-design.jpg?updatedAt=1707804013394);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.servi .landscape {
  background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/landscape.jpg?updatedAt=1707804013759);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.servi .management {
  background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/project-management.jpg?updatedAt=1707804013058);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.servi .col-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servi .col-box span {
  font-family: urbanist;
  font-size: 56px;
  text-transform: uppercase;
  color: #ffffff !important;
}

.services {
  padding-bottom: 40px;
}
.services h2 {
  font-size: 88px;
  font-family: urbanist-bold;
  color: #0a0a0a;
  width: 86%;
  font-style: normal;
}
@media (max-width: 992px) {
  .services h2 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .services h2 {
    font-size: 50px;
    font-family: urbanist-bold;
    color: #0a0a0a;
    font-style: normal;
  }
}
.services .know button {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #c5ad85;
  color: #fff;
  padding: 20px 25px;
  border-radius: 100px;
  border: none;
}
.services .know button a {
  text-decoration: none;
  color: #fff;
  font-family: urbanist-semibold;
  font-size: 17px;
  text-transform: uppercase;
}
.services p {
  font-family: urbanist;
  font-size: 17px;
  font-style: normal;
}
.services .img-accordion {
  width: 100%;
  height: 80vh;
  display: flex;
  cursor: pointer;
}
@media (max-width: 772px) {
  .services .img-accordion {
    flex-direction: column;
  }
}
.services .img {
  flex: 1;
  height: 100%;
  border: 3px solid #000;
  margin: 0 2px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 772px) {
  .services .img {
    margin: 10px 0px;
  }
}
.services .img1 {
  background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/Architecture-commercial.png?updatedAt=1707736955996");
}
.services .img2 {
  background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/hotel.png?updatedAt=1707739196822");
}
.services .img3 {
  background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/interior-residential.png?updatedAt=1707739333998");
}
.services .img4 {
  background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/Library.png?updatedAt=1707729573802");
}
.services .img5 {
  background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/theatre.png?updatedAt=1707729573827");
}
.services .img p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c5ad85;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Century Gothic";
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  transition: all 0.3s;
}
@media (max-width: 776px) {
  .services .img p {
    transform: rotate(0deg);
  }
}
.services .img-accordion:hover .img {
  transform: skew(0);
}
.services .img:hover {
  flex: 5;
}
.services .img:hover p {
  transform: rotate(0);
  background-color: #c5ad85;
  border: 2px solid #222;
  color: #fff;
}

.key-points {
  padding: 60px 0px;
  background-color: #828385;
}
.key-points span {
  font-family: bebas-neu;
  text-transform: uppercase;
  font-size: 136px;
  font-weight: 500;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent !important;
}
.key-points p {
  font-size: 20px;
  font-family: urbanist;
  font-weight: 500;
  color: #fff;
  font-style: normal;
  line-height: 28px;
}
.key-points .line {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  color: #fff !important;
  opacity: unset;
}

.contact {
  min-height: 365px;
  background-image: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/contact.jpg?updatedAt=1707729571086);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.431372549);
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.contact h2 {
  font-family: urbanist-semibold;
  font-size: 72px;
  font-style: normal;
  color: #fff;
  font-weight: 600;
  z-index: 30000;
  text-align: center;
}
@media (max-width: 666px) {
  .contact h2 {
    font-family: urbanist-semibold;
    font-size: 52px;
    font-style: normal;
    color: #fff;
    font-weight: 600;
    z-index: 30000;
    padding: 0px 20px;
  }
}
.contact .hello {
  padding: 20px 30px;
  overflow: hidden;
}
.contact .contain {
  text-align: center;
}
.contact .contain span {
  font-family: urbanist;
  font-size: 36px;
  color: #fff;
  z-index: 90000;
  position: relative;
  font-style: normal;
}
.contact .contain .text {
  position: relative;
  overflow: hidden;
}
.contact .contain .sec-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: animate 2s steps(8) infinite;
}
@keyframes animate {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.contact button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: transparent !important;
  border: 1px solid #fff;
  z-index: 5000;
}
.contact button a {
  text-decoration: none;
  color: #fff;
  font-family: urbanist-bold;
  z-index: 4000;
  font-size: 17px;
}

.slider {
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/service-3d.jpg?updatedAt=1707800455355);
  position: relative;
}
.slider .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(10, 10, 10, 0.568627451) 100%, rgba(242, 41, 91, 0) 39%);
  opacity: 0.77;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.slider .text-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.slider .text-wrapper h1 {
  font-size: 88px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rtl 6000ms linear infinite;
}
@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sub-foot {
  padding: 100px 0px;
  background-color: #c5ad85;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sub-foot h2 {
  color: #ffffff;
  font-family: urbanist;
  text-transform: uppercase;
  font-size: 40px;
}
.sub-foot li {
  list-style: none;
  padding: 10px 0px;
}
.sub-foot li a {
  text-decoration: none;
  color: #fff;
  font-family: jost;
  font-size: 18px;
  text-transform: capitalize;
}
.sub-foot p {
  text-decoration: none;
  color: #fff;
  font-family: jost;
  font-size: 18px;
  text-transform: capitalize;
}
.sub-foot p span {
  color: #fff;
  font-family: jost;
  font-size: 18px;
  text-transform: capitalize;
  padding-right: 14px;
}

.foot {
  background-color: #fff;
  padding: 20px 0px;
}
.foot h2 {
  text-align: center;
  font-family: jost;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #0a0a0a;
  font-weight: 100;
  font-size: 22px;
}/*# sourceMappingURL=style.css.map */