* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: bebas-neu;
    src: url(../Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: urbanist;
    src: url(../Urbanist/Urbanist-Regular.ttf);
}

@font-face {
    font-family: urbanist-bold;
    src: url(../Urbanist/Urbanist-Bold.ttf);
}

@font-face {
    font-family: urbanist-semibold;
    src: url(../Urbanist/Urbanist-SemiBold.ttf);
}

@font-face {
    font-family: jost;
    src: url(../Jost/Jost-Regular.ttf);
}

@font-face {
    font-family: urbanist-medium;
    src: url(../Urbanist/Urbanist-Medium.ttf);
}



header.sticky nav {
    background-color: #c5ad85 !important;
    z-index: 300000 !important;
}

header img {
    height: 60px;

    @media (max-width:992px) {
        height: 40px;
    }
}

header.sticky nav a {
    color: #fff !important;
    font-family: urbanist-semibold;
    font-size: 17px;
}

header a {
    color: #ffffff !important;
    font-family: urbanist-semibold;
    font-size: 17px;
}

.hero-section {
    .slide {
        height: 650px;
        object-fit: cover;

        @media (max-width:992px) {
            height: 300px;
        }

        @media (max-width:450px) {
            height: 350px;
        }

        .carousel-inner {
            height: 100%;

            .carousel-item {
                height: 100%;
                object-fit: cover;

                img {
                    width: 100%;
                    animation: imagezoom 20s;
                    // transform-origin: 0 50%;
                    height: 100%;
                }
            }
        }
    }

    @keyframes imagezoom {
        0% {
            transform: scale(1.0);
        }

        100% {
            transform: scale(1.2);
        }
    }
}

.about {
   padding-top: 40px;
    overflow: hidden;

    .right {
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        height: 100%;
        padding: 20px 0px;
    }

    .left {
        height: 100%;

        .form_box {
            background-color: #828385;
            height: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                text-align: center;
                color: #fff;
                font-family: urbanist-medium;
            }

            button {
                background-color: #c5ad85;

                a {
                    color: #fff;
                }
            }

            option {
                font-family: urbanist-medium;
            }
        }
    }

    .col-box {
        margin: 0px 5px;

        button {
            background: #c5ad85;
            padding: 4px 22px;
            border: none;
            width: fit-content;

            a {
                font-family: urbanist-semibold;
                font-size: 17px;
                color: #fff;
                text-decoration: none;
            }
        }

        h1 {
            font-family: urbanist-bold;
            font-size: 32px;
            text-transform: uppercase;
            color: #0a0a0a;
        }

        h3 {
            font-family: urbanist-medium;
            font-size: 24px;
        }

        p {
            font-family: urbanist;
            font-size: 17px;
            color: #0a0a0a;
            font-style: normal;
            text-transform: uppercase;
        }
    }
}

.servi{
    overflow: hidden;
    padding: 0px 0px;
    .architect{
        background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/architect.jpg?updatedAt=1707804013781);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .interior{
        background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/interior-design.jpg?updatedAt=1707804013394);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .landscape{
        background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/landscape.jpg?updatedAt=1707804013759);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .management{
        background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/project-management.jpg?updatedAt=1707804013058);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col-box{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span{
            font-family: urbanist;
            font-size: 56px;
            text-transform: uppercase;
            color: #ffffff !important;
        }
    }
}


.services {
    padding-bottom: 40px;

    h2 {
        font-size: 88px;
        font-family: urbanist-bold;
        color: #0a0a0a;
        width: 86%;

        @media (max-width:992px) {
            width: 100%;
        }

        font-style: normal;

        @media (max-width:992px) {
            font-size: 50px;
            font-family: urbanist-bold;
            color: #0a0a0a;
            font-style: normal;
        }
    }

    .know {
        button {
            width: fit-content;
            height: fit-content;
            background-color: #c5ad85;
            color: #fff;
            padding: 20px 25px;
            border-radius: 100px;
            border: none;

            a {
                text-decoration: none;
                color: #fff;
                font-family: urbanist-semibold;
                font-size: 17px;
                text-transform: uppercase;
            }
        }
    }

    p {
        font-family: urbanist;
        font-size: 17px;
        font-style: normal;
    }

    .img-accordion {
        width: 100%;
        height: 80vh;
        display: flex;
        cursor: pointer;

        @media (max-width:772px) {
            flex-direction: column;
        }
    }

    .img {
        flex: 1;
        height: 100%;
        border: 3px solid #000;
        // transform: skew(5deg);
        margin: 0 2px;
        background-size: cover;
        background-position: center;
        position: relative;
        transition: all 0.3s;

        @media (max-width:772px) {
            margin: 10px 0px;
        }
    }

    .img1 {
        background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/Architecture-commercial.png?updatedAt=1707736955996");
    }

    .img2 {
        background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/hotel.png?updatedAt=1707739196822");
    }

    .img3 {
        background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/interior-residential.png?updatedAt=1707739333998");
    }

    .img4 {
        background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/Library.png?updatedAt=1707729573802");
    }

    .img5 {
        background-image: url("https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/theatre.png?updatedAt=1707729573827");
    }

    .img p {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #c5ad85;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        font-family: "Century Gothic";
        white-space: nowrap;
        transform: rotate(-90deg);

        @media (max-width:776px) {
            transform: rotate(0deg);
        }

        transform-origin: 0 0;
        transition: all 0.3s;
    }

    .img-accordion:hover .img {
        transform: skew(0);
    }

    .img:hover {
        flex: 5;
    }

    .img:hover p {
        transform: rotate(0);
        background-color: #c5ad85;
        border: 2px solid #222;
        color: #fff;
    }

}

.key-points{
    padding: 60px 0px;
    background-color: #fff;
    span{
        font-family: bebas-neu;
        text-transform: uppercase;
        font-size: 136px;
        font-weight: 500;
        color: #000;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
        color: transparent!important;
    }
    p{
        font-size: 20px;
        font-family: urbanist;
        font-weight: bold;
        color: #c5ad85;
        font-style: normal;
        line-height: 28px;
    }
    .line{
        border: 1px solid #c5ad85 !important;
        background-color: #c5ad85 !important;
        color: #c5ad85 !important;
        opacity: unset;
    }
}

.contact {
    min-height: 365px;
    background-image: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/contact.jpg?updatedAt=1707729571086);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #0000006E;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

    h2 {
        font-family: urbanist-semibold;
        font-size: 72px;
        font-style: normal;
        color: #fff;
        font-weight: 600;
        z-index: 30000;
        text-align:center ;

        @media (max-width:666px) {
            font-family: urbanist-semibold;
            font-size: 42px;
            font-style: normal;
            color: #fff;
            font-weight: 600;
            z-index: 30000;
            padding: 0px 20px;
        }
    }

    .hello {
        padding: 20px 30px;
        overflow: hidden;
    }

    .contain {
        text-align: center;

        span {
            font-family: urbanist;
            font-size: 36px;
            color: #fff;
            z-index: 90000;
            position: relative;
            font-style: normal;
        }

        .text {
            position: relative;
            overflow: hidden;
        }

        .sec-text::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            animation: animate 2s steps(8) infinite;
        }

        @keyframes animate {

            40%,
            60% {
                left: 100%;
            }

            100% {
                left: 0%;
            }
        }
    }

    button {
        padding: 10px 20px;
        border-radius: 50px;
        background-color: transparent !important;
        border: 1px solid #fff;
        z-index: 5000;

        a {
            text-decoration: none;
            color: #fff;
            font-family: urbanist-bold;
            z-index: 4000;
            font-size: 17px;
        }
    }
}

.slider{
    min-height: 350px;
    @media (max-width:546px) {
        min-height: 250px;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/service-3d.jpg?updatedAt=1707800455355);
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: transparent;
        background-image: linear-gradient(180deg, #0A0A0A91 100%, #F2295B00 39%);
        opacity: 0.77;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .text-wrapper{
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        h1{
            font-size: 88px;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 3px;
            -webkit-text-stroke-color: #fff;
            white-space: nowrap;
            padding: 0 6rem;
            letter-spacing: 1px;
            animation: move-rtl 6000ms linear infinite;
            @keyframes move-rtl{
                0%{
                    transform: translateX(0);
                }
                100%{
                    transform: translateX(-100%);
                }
            }
        }
        
    }
}

.sub-foot{
    padding: 100px 0px;
    background-color: #ffffff;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.8)),url(https://ik.imagekit.io/pzinkx5cs/Mehul-Goyal/contact_bg.jpg?updatedAt=1707806137882);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.40;
    .col-lg-4{
        z-index: 9999999;
        position: relative;
    }
    h2{
        color: #fff;
        font-family: urbanist;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 800;
    }
    li{
        list-style: none;
        padding: 10px 0px;
        a{
            text-decoration: none;
            color: #fff;
            font-family: jost;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 800;
        }
    }
    p{
        text-decoration: none;
        color: #fff;
        font-family: jost;
        font-size: 18px;
        text-transform: capitalize; 
        font-weight: 800;
        span{
            color: #fff;
            font-family: jost;
            font-size: 18px;
            text-transform: capitalize; 
            padding-right: 14px;
        }
    }
}

.foot{
    background-color: #fff;
    padding: 20px 0px;
    h2{
        text-align: center;
        font-family: jost;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: #0a0a0a;
        font-weight: 100;
        font-size: 22px;
    }
}