* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: bebas-neu;
  src: url(../Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: urbanist;
  src: url(../Urbanist/Urbanist-Regular.ttf);
}
@font-face {
  font-family: urbanist-bold;
  src: url(../Urbanist/Urbanist-Bold.ttf);
}
@font-face {
  font-family: urbanist-semibold;
  src: url(../Urbanist/Urbanist-SemiBold.ttf);
}
@font-face {
  font-family: jost;
  src: url(../Jost/Jost-Regular.ttf);
}
@font-face {
  font-family: urbanist-medium;
  src: url(../Urbanist/Urbanist-Medium.ttf);
}
header nav {
  background-color: #1f3158;
  z-index: 5000;
}
header nav img {
  height: 55px;
}
header nav a {
  font-size: 20px;
  color: #ffffff !important;
  text-transform: uppercase;
  font-family: urbanist-bold;
}

.hero-section {
  margin-top: 5rem;
}
.hero-section .slide {
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .hero-section .slide {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .hero-section .slide {
    height: 350px;
  }
}
.hero-section .slide .carousel-inner {
  height: 100%;
}
.hero-section .slide .carousel-inner .carousel-item {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .slide .carousel-inner .carousel-item img {
  width: 100%;
  animation: imagezoom 20s;
  height: 100%;
  position: relative;
}
.hero-section .slide .carousel-inner .carousel-item h2 {
  position: absolute;
  bottom: 40%;
  left: 50%;
  background-color: #1f3158;
  padding: 50px;
  font-size: 42px;
  color: #fff;
  text-transform: uppercase;
  font-family: urbanist-semibold;
}
@media (max-width: 792px) {
  .hero-section .slide .carousel-inner .carousel-item h2 {
    bottom: 0%;
    left: 0%;
    padding: 10px;
    font-size: 30px;
  }
}
@keyframes imagezoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.about {
  padding-top: 40px;
  overflow: hidden;
}
.about .right {
  height: 100%;
  padding: 20px 0px;
}
.about .right h2 {
  font-size: 28px;
  font-family: urbanist-bold;
}
.about .right p {
  font-family: jost;
  text-transform: uppercase;
}
.about .right h6 {
  font-family: jost;
}
.about .right h3 {
  font-family: jost;
  font-size: 20px;
}
.about .left {
  height: 100%;
}
.about .left .form_box {
  background-color: #828385;
  height: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about .left .form_box h2 {
  text-align: center;
  color: #fff;
  font-family: urbanist-medium;
}
.about .left .form_box button {
  background-color: #1f3158;
}
.about .left .form_box button a {
  color: #fff;
}
.about .left .form_box option {
  font-family: urbanist-medium;
}
.about .col-box {
  margin: 0px 5px;
  height: 100%;
}
.about .col-box button {
  background: #1f3158;
  padding: 4px 22px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.about .col-box button a {
  font-family: urbanist-semibold;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.process {
  overflow: hidden;
  padding: 40px;
}
.process h2 {
  text-align: center;
  font-family: urbanist;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 5px;
}
.process h3 {
  font-family: urbanist;
}
.process p {
  font-family: jost;
}

.servi {
  overflow: hidden;
  padding: 0px 0px;
}
.servi .architect {
  background: url(../Images/architect.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.servi .interior {
  background: url(../Images/interior-design.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.servi .landscape {
  background: url(../Images/landscape.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.servi .management {
  background: url(../Images/project-management.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.servi .construction {
  background: url(../Images/construction.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.servi .col-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servi .col-box span {
  font-family: urbanist;
  font-size: 56px;
  text-transform: uppercase;
  color: #ffffff !important;
}
@media (max-width: 666px) {
  .servi .col-box span {
    font-size: 42px;
  }
}

.services {
  overflow: hidden;
  padding-bottom: 40px;
}
.services h2 {
  font-size: 88px;
  font-family: urbanist-bold;
  color: #0a0a0a;
  width: 86%;
  font-style: normal;
}
@media (max-width: 992px) {
  .services h2 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .services h2 {
    font-size: 50px;
    font-family: urbanist-bold;
    color: #0a0a0a;
    font-style: normal;
  }
}
.services .know button {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #1f3158;
  color: #fff;
  padding: 20px 25px;
  border-radius: 100px;
  border: none;
}
.services .know button a {
  text-decoration: none;
  color: #fff;
  font-family: urbanist-semibold;
  font-size: 17px;
  text-transform: uppercase;
}
.services p {
  font-family: urbanist;
  font-size: 17px;
  font-style: normal;
}
.services .img-accordion {
  width: 100%;
  height: 80vh;
  display: flex;
  cursor: pointer;
}
@media (max-width: 772px) {
  .services .img-accordion {
    flex-direction: column;
  }
}
.services .img {
  flex: 1;
  height: 100%;
  border: 3px solid #000;
  margin: 0 2px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 772px) {
  .services .img {
    margin: 10px 0px;
  }
}
.services .img1 {
  background-image: url(../Images/TV-unit.png);
}
.services .img2 {
  background-image: url(../Images/resort.png);
}
.services .img3 {
  background-image: url(../Images/room.png);
}
.services .img4 {
  background-image: url(../Images/Library.png);
}
.services .img5 {
  background-image: url(../Images/theatre.png);
}
.services .img6 {
  background-image: url("../Images/flex-box.jpg");
}
.services .img p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1f3158;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Century Gothic";
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  transition: all 0.3s;
}
@media (max-width: 776px) {
  .services .img p {
    transform: rotate(0deg);
  }
}
.services .img-accordion:hover .img {
  transform: skew(0);
}
.services .img:hover {
  flex: 5;
}
.services .img:hover p {
  transform: rotate(0);
  background-color: #1f3158;
  border: 2px solid #222;
  color: #fff;
}

.key-points {
  padding: 60px 0px;
  background-color: #fff;
}
.key-points span {
  font-family: bebas-neu;
  text-transform: uppercase;
  font-size: 136px;
  font-weight: 500;
  color: #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: transparent !important;
}
.key-points p {
  font-size: 20px;
  font-family: urbanist;
  font-weight: bold;
  color: #1f3158;
  font-style: normal;
  line-height: 28px;
}
.key-points .line {
  border: 1px solid #1f3158 !important;
  background-color: #1f3158 !important;
  color: #1f3158 !important;
  opacity: unset;
}

.contact {
  overflow: hidden;
  min-height: 365px;
  background-image: url(../Images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.431372549);
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.contact h2 {
  font-family: urbanist-semibold;
  font-size: 72px;
  font-style: normal;
  color: #fff;
  font-weight: 600;
  z-index: 3;
  text-align: center;
}
@media (max-width: 666px) {
  .contact h2 {
    font-family: urbanist-semibold;
    font-size: 42px;
    font-style: normal;
    color: #fff;
    font-weight: 600;
    z-index: 200;
    padding: 0px 20px;
  }
}
.contact .hello {
  padding: 20px 30px;
  overflow: hidden;
}
.contact .contain {
  text-align: center;
}
.contact .contain span {
  font-family: urbanist;
  font-size: 36px;
  color: #fff;
  z-index: 200;
  position: relative;
  font-style: normal;
}
.contact .contain .text {
  position: relative;
  overflow: hidden;
}
.contact .contain .sec-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: animate 2s steps(8) infinite;
}
@keyframes animate {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.contact button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: transparent !important;
  border: 1px solid #fff;
  z-index: 200;
}
.contact button a {
  text-decoration: none;
  color: #fff;
  font-family: urbanist-bold;
  z-index: 4000;
  font-size: 17px;
}

.slider {
  min-height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../Images/service-3d.jpg);
  position: relative;
}
@media (max-width: 546px) {
  .slider {
    min-height: 250px;
  }
}
.slider .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(10, 10, 10, 0.568627451) 100%, rgba(242, 41, 91, 0) 39%);
  opacity: 0.77;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.slider h1 {
  font-size: 150px;
  text-transform: uppercase;
  font-family: bebas-neu;
}
@media (max-width: 666px) {
  .slider h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: bebas-neu;
  }
}
.slider .wrapper-titles {
  overflow: hidden;
  display: grid;
  place-items: center;
}
.slider .m-scroll {
  display: flex;
  position: relative;
  width: 100%;
  height: 130px;
  margin: auto;
  z-index: 1;
}
.slider .m-scroll-title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: all 1s ease;
}
.slider .m-scroll-title div {
  display: flex;
  animation: scrollText 19s infinite linear; /* cambiar animation duration */
}
.slider .m-scroll-title h1 {
  margin: 0 0 0 0.3em;
  color: transparent;
}
.slider .m-scroll-title h1:not(.m-scroll-title-span) {
  color: white;
}
.slider .m-scroll-title-span {
  color: white;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.banner {
  margin-top: 5rem;
  min-height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../Images/Projects.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: urbanist-medium;
  color: #fff;
}
.banner p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  font-family: jost;
}
.banner p span {
  color: #d2b777;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: jost;
}

.projec {
  overflow: hidden;
}
.projec h2 {
  font-family: urbanist-semibold;
  font-size: 38px;
}
.projec p {
  font-family: jost;
  font-size: 18px;
  color: #222;
}
.projec button {
  background-color: #1f3158;
  padding: 5px 19px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}
.projec button a {
  color: #fff;
  font-family: jost;
  text-decoration: none;
  text-transform: uppercase;
}
.projec .col-lg-6 {
  overflow: hidden;
}
.projec .col-lg-6 img {
  animation: imagezoom 20s;
}
.projec .commerc {
  height: 420px;
}
.projec .commerc img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/2;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-foot {
  padding: 20px 0px;
  background-color: #1c1c1c;
}
.sub-foot .col-lg-4 {
  z-index: 9999999;
  position: relative;
}
.sub-foot h2 {
  color: #fff;
  font-family: urbanist;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
}
@media (max-width: 556px) {
  .sub-foot h2 {
    font-size: 34px;
  }
}
.sub-foot li {
  list-style: none;
  padding: 10px 0px;
}
.sub-foot li a {
  text-decoration: none;
  color: #fff;
  font-family: jost;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
}
.sub-foot p {
  text-decoration: none;
  color: #fff;
  font-family: jost;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}
.sub-foot p a {
  text-decoration: none;
  color: #fff;
}
.sub-foot p span {
  color: #fff;
  font-family: jost;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 8px;
}

.foot {
  background-color: #000000;
  padding: 20px 0px;
}
.foot h2 {
  text-align: center;
  font-family: jost;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  font-weight: 100;
  font-size: 22px;
}/*# sourceMappingURL=style.css.map */